
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                       class="form-control"
                       placeholder="Buscar medico..."
                       #txtTermino
                       (keyup)="buscador(txtTermino.value)"/>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast"
    *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0"></p>
        </div>
    </div>
</div>





<div class="row"
    *ngIf="!cargando && medicos.length > 0; else notResult">
    <div class="col-12">
        <div class="card">


            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Total de medicos ({{ totalMedicos }})</h4>
                        <h6 class="card-subtitle">Listado de medicos</h6>
                    </div>

                    <div class="col">
                        <div class="text-right">
                            <button class="btn btn-primary"
                                    (click)="nuevo()">
                                <i class="fa fa-hospital-o"></i>
                                Crear Medico
                            </button>
                        </div>
                    </div>

                </div>
            
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Medico</th>
                                <th>Hospital</th>
                                <th class="w100">Estatus</th>
                                <th class="text-nowrap" class="w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td class="text-center">
                                    <img [src]="medico.img! | imagen:'medicos'"
                                         [alt]="medico.nombre"
                                         class="img-circle avatar cursor"
                                         (click)="cambiarImagen(medico)">
                                </td>
                                <td>  {{ medico.nombre }}</td>                        
                                <td>  {{ medico.hospital.nombre }}</td>                        
                                <td class="text-center"> 
                                    <span *ngIf="medico.status==1" class="label label-success">Activo</span>
                                    <span *ngIf="medico.status==0" class="label label-warning">Inctivo</span>
                                </td>
                                <td class="text-nowrap text-center">
                                    <a  (click)="editar(medico.uid!)"
                                        data-toggle="tooltip"
                                        class="cursor"
                                        data-original-title="Editar">
                                       <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>
                                    
                                    <a  data-toggle="tooltip"
                                        data-original-title="Eliminar"
                                        class="cursor"
                                        (click)="eliminar(medico)">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="txtTermino.value.length === 0">
                    <button (click)="cambiarPaginado(-5)" class="btn btn-secundary">Anterior</button>
                    &nbsp;
                    <button (click)="cambiarPaginado(5)" class="btn btn-secundary">Siguiente</button>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #notResult>
    <div class="row animated fadeIn fast">
        <div class="col-12">
            <div class="alert alert-info text-center">
                <h4 class="alert-heading">No hay registros</h4>
                <p class="mb-0"></p>
            </div>
        </div>
    </div>
</ng-template>