<div id="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Start Breadcrumbs -->
            <app-breadcrumbs></app-breadcrumbs>
            <!-- End Breadcrumbs -->

            <!-- Sistema de Rutas -->
            <router-outlet></router-outlet>

        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © {{ year }} Admin Pro by wrappixel.com
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    </div>
</div>