<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-6">
        <app-dona [title]="'Mas Usados'"
                  [data]="data1"
        ></app-dona>
    </div>
    <div class="col-6">
        <app-dona [title]="'Reproductores de musica'"
                  [data]="data2"
        
        ></app-dona>
    </div>
    <div class="col-6">
        <app-dona [title]="'Redes Sociales'"
                  [data]="data3"
        ></app-dona>
    </div>
    <div class="col-6">
        <app-dona [title]="'Platafomas de compras'" 
                  [data]="data4"
        ></app-dona>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->